<div class="modal fade" id="modalInformation" tabindex="-1" aria-labelledby="modalInformationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5 h1 ms-2" id="modalInformationLabel">Información del Item</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="fw-bold" for="title">Nombre del Item:</label>
                    <p id="title">
                        {{itemSelected?.title}}
                    </p>
                </div>
                <div class="mb-3">
                    <label for="information" class="form-label fw-bold">Información sobre el Item:</label>
                    <p id="information">
                        {{itemSelected?.information}}
                    </p>
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label fw-bold">Stock disponible del Item:</label>
                    <p id="stock">
                        {{itemSelected?.stock}}
                    </p>
                </div>
                <div class="mb-3" *ngIf="itemSelected?.date">
                    <label for="stock" class="form-label fw-bold">Fecha de caducidad del Item:</label>
                    <p id="stock">
                        {{itemSelected?.date}}
                    </p>
                </div>
                <div class="mb-3" *ngIf="itemSelected?.batch">
                    <label for="stock" class="form-label fw-bold">Lote del Item:</label>
                    <p id="stock">
                        {{itemSelected?.batch}}
                    </p>
                </div>
                <div class="mb-3" *ngIf="itemSelected?.inventory">
                    <label for="inventory" class="form-label fw-bold"># de Inventario del Item:</label>
                    <p id="inventory">
                        {{itemSelected?.inventory}}
                    </p>
                </div>
                <div class="mb-3" *ngIf="itemSelected?.niu">
                    <label for="niu" class="form-label fw-bold"># NIU del Item:</label>
                    <p id="niu">
                        {{itemSelected?.niu}}
                    </p>
                </div>
                <div class="mb-3" *ngIf="itemSelected?.serial">
                    <label for="serial" class="form-label fw-bold"># de Serie del Item:</label>
                    <p id="serial">
                        {{itemSelected?.serial}}
                    </p>
                </div>
                <div class="mb-3" *ngIf="itemSelected?.manager">
                    <label for="manager" class="form-label fw-bold">Encargado del Item:</label>
                    <p id="manager">
                        {{itemSelected?.manager}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>