<div class="modal fade" id="modalWarningMessages" tabindex="-1" aria-labelledby="modalWarningMessagesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5 h1 ms-2" id="modalWarningMessagesLabel">Historial de reportes de la solicitud</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-request-messages [requestSelected]="requestSelected" />
            </div>
        </div>
    </div>
</div>

